article.card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-2);
  background-color: var(--color-white);
  flex-wrap: wrap;
}

.card-image {
  display: block;
  width: 100%;
}

.card-image img {
  width: 100%;
  object-fit: cover;
}

.card-image .top-full {
  width: 100%;
}

.card-image.top-full img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-image.left {
  width: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.25rem;
}
