footer {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 2.25rem 0 !important;
  min-height: 80px;
  width: 100%;
  height: 100%;
  background-color: gray;
  flex-wrap: wrap;
}

footer section,
.logo.logo-footer {
  padding: 0 40px;
}

footer section[class^='footer-'] {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

footer section[class^='footer-'] nav > ul > li {
  padding: 4px 0;
}
